/* more button--------------- */
.more_btn {
  width: 250rem;
  margin: 70rem 0;
  position: relative;
}
.filter {
  filter: brightness(0);
}
.more_btn > a {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.more_btn > a > img {
  width: 100%;
}
.more_stroke {
  position: absolute;
  top: 0;
  left: 0;
}
.more_btn > a > p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 17rem;
  font-weight: 900;
  color: #fff;
  z-index: 9;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}
.more_btn:hover a {
  cursor: url(../img/cursor/cursor-hand.png), auto;
}
.more_btn:hover .mute {
  opacity: 1;
}
/* ----------------------------------------------------------- */

.real_main {
  padding: 113rem 100rem;
  font-family: "Libre Baskerville", "Noto Sans KR", sans-serif;
}
.top_sec {
  display: flex;
}
.img_box {
  width: 50%;
  font-size: 0;
}
.txt_box {
  width: 45%;
  padding-left: 5%;
  padding-top: 50rem;
}
.img_box img {
  width: 100%;
}
.txt_pos {
  width: 100%;
}
/* txt_box---------------------------------- */

.brand_name {
  font-size: 18rem;
  font-weight: 900;
  padding-bottom: 30rem;
}
.hash {
  padding-bottom: 20rem;
}
.hash > span {
  font-size: 18rem;
  color: gray;
  transition: all 0.3s;
  padding-right: 10rem;
}
.hash > span:hover {
  color: #000;
  text-decoration: underline;
}
.item_name {
  font-size: 26rem;
  font-weight: 900;
  padding-bottom: 30rem;
}
.item_price {
  font-size: 22rem;
  font-weight: 900;
}
.item_price > span {
  font-size: 18rem;
  color: gray;
  padding-left: 10rem;
}
/* ---------------------------------- */
.scallop {
  margin-bottom: 70rem;
}
.item_text {
  font-size: 17rem;
  line-height: 34rem;
  padding-bottom: 50rem;
  border-bottom: #000 1px solid;
}
.info {
  border-bottom: #000 1px solid;
}
.info_title {
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  padding: 30rem 0;
}
.arrow {
  transform: rotate(0deg);
  width: 20rem;
  transition: all 0.3s;
}
.arrow_action {
  transform: rotate(180deg);
}
.info_text {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.info_action {
  height: 100px;
  line-height: 1.8;
}
.info_action.info_long {
  height: 700px;
  line-height: 1.8;
}
.info_text > ul {
  padding-bottom: 40rem;
}
.d_img {
  width: 70%;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}
.d_scallop {
  display: block;
  margin: 200rem auto 100rem;
}
@media screen and (max-width: 1024px) {
  .more_btn {
    margin: 100rem 76%;
  }
  .more_btn > a > p {
    font-size: 23rem;
  }
  .top_sec {
    display: block;
    margin-top: 50px;
  }
  .img_box {
    width: 80%;
    /* max-height: 600px; */
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  .img_box img {
    width: 100%;
  }
  .img_box img:first-child {
    display: none;
  }
  .txt_box {
    width: 90%;
  }
  .d_img {
    width: 100%;
  }
  /* ------- */
  .brand_name {
    font-size: 30rem;
  }
  .hash > span {
    font-size: 24rem;
  }
  .item_name {
    font-size: 32rem;
  }
  .item_price {
    font-size: 30rem;
  }
  .txt_box .scallop {
    text-align: center;
  }
  /* --- */
  .scallop {
    display: block;
    margin: 200rem auto;
  }
  .item_text {
    font-size: 26rem;
    line-height: 48rem;
  }
  .info_title {
    font-size: 24rem;
  }
  .arrow {
    width: 30rem;
  }
  .info_action.info_long {
    height: 450px;
  }
  .info_text > ul {
    font-size: 23rem;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 470px) {
  .more_btn {
    width: 400rem;
    margin: 100rem 64%;
  }
  .more_btn > a > p {
    font-size: 46rem;
    font-weight: 500;
  }
  .txt_box {
    width: 90%;
  }
  .d_img {
    width: 100%;
  }
  /* ------- */
  .brand_name {
    font-size: 60rem;
    padding-bottom: 60rem;
  }
  .hash > span {
    font-size: 46rem;
  }
  .item_name {
    font-size: 60rem;
    padding-bottom: 50rem;
  }
  .item_price {
    font-size: 60rem;
  }
  .item_price > span {
    font-size: 50rem;
    font-weight: 300;
  }
  .txt_box .scallop {
    text-align: center;
  }
  /* --- */
  .scallop {
    display: block;
    margin: 200rem auto;
  }
  .item_text {
    font-size: 60rem;
    line-height: 100rem;
  }
  .info_title {
    font-size: 60rem;
    padding: 60rem 0;
  }
  .arrow {
    width: 70rem;
  }
  .info_action.info_long {
    height: 900px;
  }
  .info_text > ul {
    font-size: 56rem;
  }
}
